<div class="container">
    <div class="row">
      <h1>SINGLE POST: {{post_id}}</h1>
    </div>
    <div class="row">
      <div class="col-3">
        <p><b>User Id:</b> {{post.userId}}</p>
        <p><b>Id:</b> {{post.id}}</p>
        <p><b>Title:</b> {{post.title}}</p>
        <p><b>Body:</b> {{post.body}}</p>
      </div>
    </div>  
</div>