<div class="container">
  <div class="row">
    <h1>POST LIST</h1>
  </div>
  <div class="row">
    <div class="col-3">
      <li *ngFor="let post of posts | async">
        <p><b>User Id:</b> {{post.userId}}</p>
        <p><b>Id:</b> {{post.id}}</p>
        <p><b>Title:</b> {{post.title}}</p>
        <p><b>Body:</b> {{post.body}}</p>
      </li>
    </div>
  </div>  
</div>